@{
    ViewData["Title"] = "Search Result";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arama Sonuçları</title>
    <link rel="stylesheet" href="~/css/searchpage.css">
</head>
<body>
    <header>
        <h1>Serkan Shop</h1>
        <nav>
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="search-results">
            <h2>iPhone için Arama Sonuçları</h2>
            <ul>
                <li>
                    <a href="https://localhost:7060/Home/Index1">
                        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/apple/thumb/129895-1_small.jpg" alt="iPhone 13 128 Gb - Mavi">
                        <div class="rating">
                            <img src="~/lib/pngegg.jpg" alt="iPhone 13 128 Gb - Mavi" style="width: 100px; height: 20px;">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="rating-value">4 / 5</span>
                        </div>
                        <h4>iPhone 13 128 Gb - Mavi</h4>
                        <p>Fiyat: 36.999 TL </p>
                        <p>Stok Durumu: Stokta Var</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/apple/thumb/135150-1-9_small.jpg" alt="iPhone 14 128 Gb - Mavi">
                        <div class="rating">
                            <img src="~/lib/pngegg.jpg" alt="iPhone 13 128 Gb - Mavi" style="width: 100px; height: 20px;">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="rating-value">4 / 5</span>
                        </div>
                        <h4>iPhone 14 128 Gb - Mavi</h4>
                        <p>Fiyat: 43.999 TL</p>
                        <p>Stok Durumu: Stokta Yok</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/apple/thumb/141050-1_small.jpg" alt="iPhone 15 Pro Max 256 Gb - Mavi">
                        <div class="rating">
                            <img src="~/lib/pngegg.jpg" alt="iPhone 13 128 Gb - Mavi" style="width: 100px; height: 20px;">
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="rating-value">4 / 5</span>
                        </div>
                        <h4>iPhone 15 Pro Max 256 Gb - Mavi Titanium</h4>
                        <p>Fiyat: 78.499 TL</p>
                        <p>Stok Durumu: Stokta Yok</p>
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Tüm hakları saklıdır. © 2024 Serkan Shop</p>
    </footer>
</body>
</html>
